html {
  font-family: 'Karla', sans-serif;
  box-sizing:border-box;
}
*,*:before,*:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  font-size: 16px;
}

p,h3,h4{
  margin:0
}

#main-container{
  padding:20px;
  width: 100vw;
  height: 1000px;
  position: absolute; 
  background-color: gray;
  background-size:cover;
}

div[id='flyer-container'] {
  width: 600px;
  height: 420px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  overflow:hidden;
  border-radius:5px 
}

#grid-cont{
  display: flex;
  flex-direction: row;
  height:55%;
}

#upper-cont {
  height:45%;
  widht:100%;
  background-color:white;
  padding:30px;
}

#top-title {
  color: hsl(179, 62%, 43%);
}
#subtitle {
  color: hsl(71, 73%, 54%);
  margin-top: 25px;
}
#upper1,
#upper2 {
  color: hsl(218, 22%, 67%);
}
#upper2 {
  margin-top: 5px;
}

p{
  margin:0px;
}

#upper1 { 
  margin-top: 20px;
}

#title,
#cost,
#benefits,
button
{
  color: hsl(204, 43%, 93%)
}
#cost{
  font-size:25px;
  font-weight:800;
  display:inline-block;
}
#cost-descrip{
  color:hsl(218, 22%, 67%);
  position:relative;
  top: -4px;
  display:inline-block;
}
#left-cont,
#right-cont {
  flex-direction: row;
  width:50%;
  padding:25px;
}

#left-cont {
  background-color: hsl(179, 50%, 43%);
}

#title {
  margin-bottom:20px;
}

p[id='benefits'] {
  margin-bottom:18px;
  margin-top:10px;
}
button{
  height:40px;
  width:100%;
  background-color: hsl(71, 73%, 54%);
  margin-top:10px;
  border-radius: 5px;
  border:none
}
button:hover{
  cursor:pointer;
  background-color: hsl(71, 73%, 44%);
}

#right-cont {
  background-color: hsl(179, 62%, 43%);
}
#right-p {
  margin-bottom: 3px;
  color:hsl(204, 43%, 93%);
  font-size: .9rem;
  opacity:.8;
}
